@page "/book/{id}"
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@using Services
@using global::Services
@inject FirestoreService FirestoreService
@using static blazorfirestore.Services.Objects


@if (book != null)
{
    <h3>@book.Title</h3>
    <p><strong>Autor:</strong> @book.AuthorName</p>
    <p>@book.Content</p>
}
else
{
    <p>Načítání...</p>
}

@code {
    [Parameter] public string Id { get; set; }
    private Book book;

    protected override async Task OnInitializedAsync()
    {
		book = await FirestoreService.GetBookByIdAsync(Id);
        // book = await JSRuntime.InvokeAsync<Book>("getBookById", Id);
    }

}
