@page "/book/{id}"
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@using Services
@using static global::Shared.Objects
@inject FirestoreService FirestoreService


@if (book != null)
{
    <h1>@book.Title</h1>
    <p><strong>Autor:</strong> @book.AuthorName</p>
    <div>@(new MarkupString(@book.Content))</div>
    <EditorTiny></EditorTiny>
}
else
{
    <p>Načítání...</p>
}

@code {
    [Parameter] public string Id { get; set; }
    private Book book;

    protected override async Task OnInitializedAsync()
    {
		book = await FirestoreService.GetBookByIdAsync(Id);
        // book = await JSRuntime.InvokeAsync<Book>("getBookById", Id);
    }

}
