@page "/books"
@using Services
@using static global::Shared.Objects
@inject FirestoreService FirestoreService


<h1>Knihy</h1>

<ul>
    @foreach (var book in books)
    {
        <li><a href="@($"book/{book.Id}")">@book.Title</a> – Autor: @book.AuthorName</li>
    }
</ul>

@code {
    private List<Book> books = new();

    protected override async Task OnInitializedAsync()
    {
        books = await FirestoreService.GetBooksAsync();
    }
}