@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<h3>WYSIWYG Editor Quill</h3>
<div id="toolbar">
    <button class="ql-bold"></button>
    <button class="ql-italic"></button>
    <button class="ql-underline"></button>
    <button class="ql-strike"></button>
</div>
<QuillEditor Content="@text" ContentChanged="OnTextChanged" />

<p>Aktuální obsah:</p>
<div>@(new MarkupString(text))</div>
<pre>@text</pre>



<h3>TinyMCE v Blazor WASM</h3>

<textarea id="tinymceEditor"></textarea>

<TinyMCE.Blazor.Editor ApiKey="s1lzo74rqol5ydgb6zmh9fw6gn056acll3az5qu8r0rb5221" />

@code {
    private string text = "<p>Ahoj světe!</p>";

    private void OnTextChanged(string newText)
    {
        text = newText;
    }

    // [Inject] IJSRuntime JS { get; set; }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         await JS.InvokeVoidAsync("initTinyMCE", "tinymceEditor");
    //     }
    // }
}