@page "/user/{id}"
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
@using Services
@using static global::Shared.Objects
@inject FirestoreService FirestoreService


@if (user != null)
{
    <h1>@user.UserName</h1>
    <p>@user.UserRole</p>
    @* <p>seznam příspěvků uživatele:</p> *@
}
else
{
    <p>Načítání...</p>
}
@if (books != null)
{
    <h4>seznam příspěvků uživatele:</h4> 
    <ul>
    @foreach (var book in books)
        {
            <li><a href="@($"book/{book.Id}")">@book.Title</a></li>
        }
    </ul>
}
else
{
    <p>Načítání...</p>
}

@code {
    [Parameter] public string Id { get; set; }
    private User user;
    private List<Book> books = new();

        

    protected override async Task OnInitializedAsync()
    {
        user = await FirestoreService.GetUserByIdAsync(Id);
        books = await FirestoreService.GetBooksByUserIdAsync(Id);
    }

}
